<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>KekPass 🔒 {host}</title>
</head>

<body>
    <div class="container">
        <div class="row p-5 d-flex justify-content-center">
            <div class="col-6">
                <div class="border rounded shadow p-5">
                    <p class="font-monospace fs-4">Host: {host}</p>
                    <p class="font-monospace fs-4">Password: {password}</p>
                    <a href="/store/" class="btn btn-outline-primary">Назад</a>
                    <a href="/store/{pk}/remove/" class="btn btn-outline-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>